In [6]:
# !pip install pandas numpy matplotlib seaborn scikit-learn

In [1]:
import pandas as pd

In [2]:
train_data = pd.read_csv('../train_v9rqX0R.csv')

In [3]:
train_data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [5]:
train_data.shape

(8523, 12)

In [6]:
train_data.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [7]:
train_data.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,7060.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.288914
std,4.643456,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.773750,0.026989,93.826500,1987.000000,834.247400
50%,12.600000,0.053931,143.012800,1999.000000,1794.331000
75%,16.850000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

* from describe we can see that there is no outliers in any of the numerical columns.

In [25]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [19]:
train_data["Item_Identifier"].value_counts()

FDW13    10
FDG33    10
FDP25     9
FDW49     9
NCF42     9
         ..
FDN52     1
FDC23     1
FDT35     1
FDE52     1
FDK57     1
Name: Item_Identifier, Length: 1559, dtype: int64

In [20]:
train_data['Item_Fat_Content'].value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [12]:
train_data['Item_Type'].value_counts()

Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

In [21]:
train_data['Outlet_Identifier'].value_counts()

OUT027    935
OUT013    932
OUT049    930
OUT046    930
OUT035    930
OUT045    929
OUT018    928
OUT017    926
OUT010    555
OUT019    528
Name: Outlet_Identifier, dtype: int64

* Identified that there are some inconsistencies in the 'Item_Fat_Content' column like 'LF', 'low fat', 'Low Fat' all representing the same category. Similarly, 'reg' and 'Regular' represent the same category.
* Remaining columns doesn't have any inconsistencies..

In [22]:
train_data['Outlet_Size'].value_counts()

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [23]:
train_data['Outlet_Location_Type'].value_counts()

Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Outlet_Location_Type, dtype: int64

In [24]:


train_data['Outlet_Type'].value_counts()

Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [9]:
train_data.duplicated().sum()

0

In [ ]:
# Before cleaning, re-check unique values
print(train_data['Item_Fat_Content'].unique())
# Identify misspellings or alternate forms manually
# For example, to standardize:
train_data['Item_Fat_Content'] = train_data['Item_Fat_Content'].replace({
    'LF': 'Low Fat',
    'low fat': 'Low Fat',
    'reg': 'Regular'
})
# After cleaning, re-check unique values
print(train_data['Item_Fat_Content'].unique())

['Low Fat' 'Regular']

In [29]:
# Assume df is your dataframe
# Create a mapping from each Item_Identifier to its average (non-null) Item_Weight
item_weight_map = train_data.groupby('Item_Identifier')['Item_Weight'].transform('mean')

In [46]:
df = train_data[(train_data["Item_Identifier"] == "FDA15") | (train_data["Item_Identifier"] == "DRC01")][["Item_Identifier","Item_Weight"]]

In [47]:
df

     Item_Identifier  Item_Weight
0              FDA15         9.30
1              DRC01         5.92
831            FDA15         9.30
2272           DRC01         5.92
2599           FDA15         9.30
2643           FDA15         9.30
2927           DRC01          NaN
4874           FDA15         9.30
5029           DRC01         5.92
5077           DRC01         5.92
5218           DRC01         5.92
5413           FDA15         9.30
6696           FDA15          NaN
7543           FDA15         9.30

In [48]:
# Replace missing Item_Weight values with mean weight per Item_Identifier
df['Item_Weight'] = df['Item_Weight'].fillna(
    df.groupby('Item_Identifier')['Item_Weight'].transform('mean')
)

In [49]:
df

     Item_Identifier  Item_Weight
0              FDA15         9.30
1              DRC01         5.92
831            FDA15         9.30
2272           DRC01         5.92
2599           FDA15         9.30
2643           FDA15         9.30
2927           DRC01         5.92
4874           FDA15         9.30
5029           DRC01         5.92
5077           DRC01         5.92
5218           DRC01         5.92
5413           FDA15         9.30
6696           FDA15         9.30
7543           FDA15         9.30

In [42]:
pd.set_option('display.max_rows', 50)

In [43]:
train_data[["Item_Identifier","Item_Weight"]]

     Item_Identifier  Item_Weight
0              FDA15        9.300
1              DRC01        5.920
2              FDN15       17.500
3              FDX07       19.200
4              NCD19        8.930
...              ...          ...
8518           FDF22        6.865
8519           FDS36        8.380
8520           NCJ29       10.600
8521           FDN46        7.210
8522           DRG01       14.800

[8523 rows x 2 columns]

In [30]:
item_weight_map

0        9.300
1        5.920
2       17.500
3       19.200
4        8.930
         ...
8518     6.865
8519     8.380
8520    10.600
8521     7.210
8522    14.800
Name: Item_Weight, Length: 8523, dtype: float64

In [ ]:


# Fill missing Item_Weight values with the mapped (group) value
df['Item_Weight'] = df['Item_Weight'].fillna(item_weight_map)

In [50]:
# Replace missing Item_Weight values with mean weight per Item_Identifier
train_data['Item_Weight'] = train_data['Item_Weight'].fillna(
    train_data.groupby('Item_Identifier')['Item_Weight'].transform('mean')
)

In [52]:
train_data.isnull().sum()

Item_Identifier                 0
Item_Weight                     4
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [58]:
import pandas as pd

data = {'col1': range(150), 'col2': [f'value_{i}' for i in range(150)]}
df = pd.DataFrame(data)

pd.set_option('display.max_rows', 40) # Set to None to display all rows

print(df)

     col1       col2
0       0    value_0
1       1    value_1
2       2    value_2
3       3    value_3
4       4    value_4
..    ...        ...
145   145  value_145
146   146  value_146
147   147  value_147
148   148  value_148
149   149  value_149

[150 rows x 2 columns]

In [60]:
train_data[["Outlet_Identifier","Outlet_Size","Outlet_Location_Type","Outlet_Type"]].head(30)

   Outlet_Identifier Outlet_Size Outlet_Location_Type        Outlet_Type
0             OUT049      Medium               Tier 1  Supermarket Type1
1             OUT018      Medium               Tier 3  Supermarket Type2
2             OUT049      Medium               Tier 1  Supermarket Type1
3             OUT010         NaN               Tier 3      Grocery Store
4             OUT013        High               Tier 3  Supermarket Type1
5             OUT018      Medium               Tier 3  Supermarket Type2
6             OUT013        High               Tier 3  Supermarket Type1
7             OUT027      Medium               Tier 3  Supermarket Type3
8             OUT045         NaN               Tier 2  Supermarket Type1
9             OUT017         NaN               Tier 2  Supermarket Type1
10            OUT049      Medium               Tier 1  Supermarket Type1
11            OUT046       Small               Tier 1  Supermarket Type1
12            OUT049      Medium               Tier 1  Supermarket Type1
13            OUT046       Small               Tier 1  Supermarket Type1
14            OUT013        High               Tier 3  Supermarket Type1
15            OUT046       Small               Tier 1  Supermarket Type1
16            OUT018      Medium               Tier 3  Supermarket Type2
17            OUT049      Medium               Tier 1  Supermarket Type1
18            OUT027      Medium               Tier 3  Supermarket Type3
19            OUT035       Small               Tier 2  Supermarket Type1
20            OUT013        High               Tier 3  Supermarket Type1
21            OUT027      Medium               Tier 3  Supermarket Type3
22            OUT035       Small               Tier 2  Supermarket Type1
23            OUT019       Small               Tier 1      Grocery Store
24            OUT046       Small               Tier 1  Supermarket Type1
25            OUT017         NaN               Tier 2  Supermarket Type1
26            OUT035       Small               Tier 2  Supermarket Type1
27            OUT013        High               Tier 3  Supermarket Type1
28            OUT010         NaN               Tier 3      Grocery Store
29            OUT019       Small               Tier 1      Grocery Store

In [55]:
train_data[train_data['Item_Identifier'] == "FDN52"]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
927,FDN52,NaN,Regular,0.130933,Frozen Foods,86.9198,OUT027,1985,Medium,Tier 3,Supermarket Type3,1569.9564

In [62]:
# Replace missing Item_Weight values with mean weight per Item_Identifier
train_data['Outlet_Size'] = train_data['Outlet_Identifier'].fillna(
    train_data.groupby('Outlet_Identifier')['Outlet_Size'].transform('mode')
)

ValueError: 'mode' is not a valid function name for transform(name)

In [64]:
# Step 1: Fill using mode per Outlet_Identifier
train_data['Outlet_Size'] = train_data.groupby('Outlet_Identifier')['Outlet_Size']\
    .transform(lambda x: x.fillna(x.mode().iloc[0] if not x.mode().empty else pd.NA))

In [65]:
train_data.isnull().sum()

Item_Identifier                 0
Item_Weight                     4
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [ ]:
# Step 2: Fill remaining NaN using Outlet_Type + Outlet_Location_Type
train_data['Outlet_Size'] = train_data.groupby(['Outlet_Type','Outlet_Location_Type'])['Outlet_Size']\
    .transform(lambda x: x.fillna(x.mode().iloc[0] if not x.mode().empty else pd.NA))

In [69]:
train_data[train_data['Outlet_Size'].isnull()].head(30)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,<NA>,Tier 3,Grocery Store,732.3800
28,FDE51,5.925,Regular,0.161467,Dairy,45.5086,OUT010,1998,<NA>,Tier 3,Grocery Store,178.4344
30,FDV38,19.250,Low Fat,0.170349,Dairy,55.7956,OUT010,1998,<NA>,Tier 3,Grocery Store,163.7868
45,FDM39,6.420,Low Fat,0.089499,Dairy,178.1002,OUT010,1998,<NA>,Tier 3,Grocery Store,358.2004
65,FDC46,17.700,Low Fat,0.195068,Snack Foods,185.4266,OUT010,1998,<NA>,Tier 3,Grocery Store,184.4266
90,FDW20,20.750,Low Fat,0.040421,Fruits and Vegetables,122.1730,OUT010,1998,<NA>,Tier 3,Grocery Store,369.5190
122,FDB14,20.250,Regular,0.171939,Canned,92.5120,OUT010,1998,<NA>,Tier 3,Grocery Store,186.4240
133,FDS52,8.890,Low Fat,0.009163,Frozen Foods,101.7016,OUT010,1998,<NA>,Tier 3,Grocery Store,101.2016
139,NCN07,18.500,Low Fat,0.056816,Others,132.1284,OUT010,1998,<NA>,Tier 3,Grocery Store,263.6568
174,FDI32,17.700,Low Fat,0.291865,Fruits and Vegetables,115.1834,OUT010,1998,<NA>,Tier 3,Grocery Store,345.5502
175,FDR47,17.850,Low Fat,0.000000,Breads,196.5794,OUT010,1998,<NA>,Tier 3,Grocery Store,585.2382
177,NCU05,11.800,Low Fat,0.098312,Health and Hygiene,81.4618,OUT010,1998,<NA>,Tier 3,Grocery Store,161.1236
205,FDF24,15.500,Regular,0.042465,Baking Goods,81.5934,OUT010,1998,<NA>,Tier 3,Grocery Store,327.5736
209,FDX40,12.850,Low Fat,0.165694,Frozen Foods,39.7164,OUT010,1998,<NA>,Tier 3,Grocery Store,231.6984
214,NCZ54,14.650,Low Fat,0.000000,Household,161.5552,OUT010,1998,<NA>,Tier 3,Grocery Store,324.9104
215,FDE10,6.670,Regular,0.150555,Snack Foods,130.0626,OUT010,1998,<NA>,Tier 3,Grocery Store,131.1626
216,FDR44,6.110,Regular,0.000000,Fruits and Vegetables,131.2968,OUT010,1998,<NA>,Tier 3,Grocery Store,260.9936
217,FDP28,13.650,Regular,0.134976,Frozen Foods,260.0936,OUT010,1998,<NA>,Tier 3,Grocery Store,260.9936
278,FDK21,7.905,Low Fat,0.016759,Snack Foods,250.4408,OUT010,1998,<NA>,Tier 3,Grocery Store,500.6816
286,FDE08,18.200,Low Fat,0.082551,Fruits and Vegetables,147.3734,OUT010,1998,<NA>,Tier 3,Grocery Store,296.9468
317,FDC08,19.000,Regular,0.173154,Fruits and Vegetables,228.2720,OUT010,1998,<NA>,Tier 3,Grocery Store,452.7440
325,NCK19,9.800,Low Fat,0.151421,Others,194.3478,OUT010,1998,<NA>,Tier 3,Grocery Store,387.4956
387,FDT57,15.200,Low Fat,0.031860,Snack Foods,235.1248,OUT010,1998,<NA>,Tier 3,Grocery Store,474.0496
411,NCZ42,10.500,Low Fat,0.000000,Household,238.3248,OUT010,1998,<NA>,Tier 3,Grocery Store,711.0744
420,FDR04,7.075,Low Fat,0.037772,Frozen Foods,98.0068,OUT010,1998,<NA>,Tier 3,Grocery Store,291.6204
477,FDV51,16.350,Low Fat,0.054463,Meat,163.8842,OUT010,1998,<NA>,Tier 3,Grocery Store,165.7842
483,FDC02,21.350,Low Fat,0.115195,Canned,258.3278,OUT010,1998,<NA>,Tier 3,Grocery Store,520.6556
493,FDN09,14.150,Low Fat,0.058373,Snack Foods,243.9828,OUT010,1998,<NA>,Tier 3,Grocery Store,731.0484
502,FDB15,10.895,Low Fat,0.228993,Dairy,263.4568,OUT010,1998,<NA>,Tier 3,Grocery Store,527.3136
510,FDQ37,20.750,Low Fat,0.149404,Breakfast,192.8478,OUT010,1998,<NA>,Tier 3,Grocery Store,774.9912

In [70]:
train_data.loc[(train_data['Outlet_Size'].isna()) & 
               (train_data['Outlet_Type'] == 'Grocery Store'), 'Outlet_Size'] = 'Small'

In [71]:
train_data.isnull().sum()

Item_Identifier              0
Item_Weight                  4
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [72]:
train_data.shape

(8523, 12)

In [73]:
train_data.dropna( inplace=True)

In [74]:
train_data.shape

(8519, 12)